---
import MongoDB from "../icons/MongoDB.astro";
import Nodejs from "../icons/Nodejs.astro";
import Tailwindcss from "../icons/Tailwindcss.astro";
import Expressjs from "../icons/Expressjs.astro";
import Reactjs from "../icons/Reactjs.astro";
import Socketio from "../icons/Socketio.astro";
import Cloudinary from "../icons/Cloudinary.astro";

const TAGS = {
  NODE: {
    name: "Node.js",
    class: "fill-current",
    icon: Nodejs,
  },

  TAILWINDCSS: {
    name: "tailwind CSS",
    class: "fill-current",
    icon: Tailwindcss,
  },

  MONGODB: {
    name: "MongoDB",
    class: "fill-current",
    icon: MongoDB,
  },

  EXPRESS: {
    name: "Express.js",
    class: "fill-current",
    icon: Expressjs,
  },

  REACT: {
    name: "React.js",
    class: "fill-current",
    icon: Reactjs,
  },

  SOCKETIO: {
    name: "Socket.io",
    class: "fill-current",
    icon: Socketio,
  },

  CLOUDINARY: {
    name: "Coudinary",
    class: "fill-current",
    icon: Cloudinary,
  },
};

const PROJECTS = [
  {
    title: "WhisperChat",
    level: "FullStack Project",
    description:
      "Aplicación de mensajería en tiempo real con interfaz moderna y adaptable. Desarrollo de una plataforma de mensajería instantánea con diseño responsive y experiencia de usuario optimizada. Los usuarios pueden unirse a canales temáticos, intercambiar mensajes enriquecidos y comunicarse en tiempo real mediante WebSockets. La interfaz limpia y funcional está diseñada para ofrecer una navegación fluida en cualquier dispositivo, manteniendo una estética profesional y minimalista.",
    link: "#",
    github: "https://github.com/gvieiradev/Whisper",
    image: "/projects/Whisper.webp",
    tags: [
      TAGS.MONGODB,
      TAGS.EXPRESS,
      TAGS.REACT,
      TAGS.NODE,
      TAGS.SOCKETIO,
      TAGS.TAILWINDCSS,
    ],
  },
  {
    title: "CloudSafe",
    level: "FullStack Project",
    description:
      "Plataforma web de almacenamiento de imágenes en la nube – Stack MERN + Cloudinary Aplicación web desarrollada con el stack MERN (MongoDB, Express.js, React y Node.js) que permite a los usuarios cargar, almacenar y visualizar imágenes de forma segura en la nube. La integración con la API de Cloudinary garantiza una gestión optimizada de archivos multimedia, incluyendo compresión automática, generación de miniaturas, y transformación en tiempo real.",
    link: "#",
    github: "https://github.com/gvieiradev/CloudSafe",
    image: "/projects/CloudSafe.webp",
    tags: [
      TAGS.MONGODB,
      TAGS.EXPRESS,
      TAGS.REACT,
      TAGS.NODE,
      TAGS.CLOUDINARY,
      TAGS.TAILWINDCSS,
    ],
  },
];
---

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-6">
  {
    PROJECTS.map(({ title, level, description, tags, image }) => (
      <article class="grid grid-rows-[minmax(auto,210px)_1fr_auto] gap-y-2 rounded-lg pb-4 shadow-lg shadow-blue-300 hover:scale-[1.05] transition duration-300 ease-in-out">
        <img
          class="rounded-t-lg max-h-full w-full object-cover mx-auto"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        <section class="flex flex-col gap-y-2 py-2 px-4">
          <p class="text-lg font-bold">{title}</p>
          <p class="text-xs text-gray-600 dark:text-gray-300">{level}</p>
          <ul class="flex flex-wrap gap-x-2 gap-y-1 max-w-full">
            {tags.map((tag) => (
              <li>
                <span
                  class={`${tag.class} flex gap-x-1 border border-slate-300 dark:border-slate-700 rounded-full px-2 py-1 text-xs font-semibold ${tag.class}`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <p class="text-sm">{description}</p>
        </section>
      </article>
    ))
  }
</div>
